.background{
  background-color: #1e88e5;
  height: 100vh;
}

.myDiv{
  margin: 1vh;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  padding-bottom: 20px;
  color: #e3f2fd;
  font-family: 'Helvetica', sans-serif;
}

i{
  font-size: 120px;
}

p{
  font-size: 26px;
  text-transform: capitalize;
  color: #e3f2fd;
}

.well{
   background: #1e88e5;
}

body{
  font-family: 'Roboto', sans-serif;
}

.divSummary {
  margin-bottom: 20px;
  
}

#summary {
  margin: 0 auto;
  width: 80vw;
  max-width: 500px;
  font-size: 22px;
  
}

.temperature-button{
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
  background-color: #1e88e5;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none !important;
}

.temperature-button:hover {
    padding-left: 10px;
    padding-right: 10px;
    color: #1e88e5;
    background-color: #e3f2fd;
}